{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class='text-center'>
    <h1>Faça sua postagem</h1>
</div>
<form action="/form/" method='POST' enctype="multipart/form-data"> 
    {% csrf_token %}
    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false"></div>
    {{ form|crispy }}
    <div class="form-group">
        <button type='submit' class='btn btn-default'>Enviar</button>
    </div>
</form>
{% endblock %}